<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="notes">Notes</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="template">Template</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Template Tab --}}
        <div class="tab template" data-group="primary" data-tab="template">
            <header class="template-header flexrow">
                <span class="template-label">Label</span>
                <span class="template-roll">Roll</span>
                <a class="template-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="template-list">
            {{#each data.template as |item key|}}
                <li class="template flexrow" data-key="{{key}}">
                    <input class="template-label" type="text" name="data.template.{{key}}.label" value="{{item.label}}" data-dtype="String" />
                    <input class="template-roll" type="text" name="data.template.{{key}}.roll" value="{{item.roll}}" data-dtype="String" />
                    <a class="template-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>
