nav.sheet-tabs {
    line-height: 40px;
    height: 40px;
}
.sheet .lightbearer.sheet-header img {
    flex: 0 0 64px;
    height: 64px;
    width: 64px;
    margin: 0px;
    border: none;
}
.sheet .lightbearer.sheet-header h1.charname input {
    height: 36px;
}
.sheet .lightbearer.sheet-header .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.sheet .lightbearer.sheet-header .field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.sheet .lightbearer.sheet-header .sheet-type {
    font-weight: bold;
}
.lightbearer .tabs {
    line-height: 40px;
    height: 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
.lightbearer .tabs .item {
    font-weight: bold;
}
.lightbearer .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}
.lightbearer .sheet-body {
    overflow: hidden;
}

/*
.lightbearer .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}
.lightbearer .editor {
    height: 100%;
}
.lightbearer .editor-content {
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    padding: 0px 4px;
    border-radius: 4px;
}
*/

.lightbearer.sheet.actor {
    min-width: 560px;
    min-height: 420px;
}
.lightbearer.sheet.item {
    min-width: 460px;
    min-height: 400px;
}
.lightbearer h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    font-weight: bold;
}
div.lightbearer.error {
    color: white;
    background: rgba(180, 0, 0, 1);
    padding: 2px;
    border-radius: 4px;
}
div.lightbearer.system {
    color: #000000;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 2px;
    border-radius: 4px;
}
div.lightbearer.turn-update {
    text-align: center;
    font-size: 36px;
    padding: 2px;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
    text-shadow: 1px 1px 0 black;
    box-shadow: 2px 2px 1px black;
}
div.lightbearer.round-update {
    text-align: center;
    font-size: 24px;
    color: grey;
}
div.lightbearer.emote,
div.lightbearer.narrate {
    color: green;
    font-style: italic;
}
div.lightbearer.story {
    color: crimson;
    text-shadow: 1px 1px 0 black;
}
div.lightbearer.ooc {
    color: grey;
    background: lightgrey;
    border-radius: 4px;
    padding: 2px;
}
img.inline-img {
    display: inline;
    margin: 0 5px;
    vertical-align: middle;
    border: none;
}
img.lightbearer.emoji {
    display: inline;
    margin: 2px;
    vertical-align: middle;
    border: none;
}
#chat-controls .roll-type-select,
#chat-controls .chat-control-icon {
    display: none;
}

.effect-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.effect-list .effect {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.effect-list .effect input,
.effect-list .effect select {
    margin: 4px;
}

.target-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.target-list .target {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.target-list .target .field {
    margin: 6px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.target-list .target i {
    margin: 2px;
}

.target-list .target .field input,
.target-list .target .field select {
    margin: 4px;
    flex: 1;
}

.target-list .target .field input[type="checkbox"] {
    flex: 0 0 16px;
}

input.formula {
    font-family: monospace;
}

/*
.sheet .sheet-body,
.sheet .sheet-body .tab,
.sheet .sheet-body .tab .editor,
.sheet .sheet-body .tab .editor-content
{
    height: 100%;
}

.sheet .sheet-body .tab.noscroll {
    overflow-y: hidden;
}

.sheet .tox.tox-tinymce {
    height: 100%;
}
*/

.lightbearer.sheet .ability {
    display: flex;
    flex-flow: row nowrap;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 2px 0px;
    align-items: center;
}

.lightbearer.sheet .ability .icon {
    margin: 4px 0px 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbearer.sheet .ability .name {
    font-weight: bold;
    flex: 1;
    margin: 4px;
}

.lightbearer.sheet .ability .control {
    flex: 0;
    margin: 4px;
}

.lightbearer.sheet .attributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.lightbearer.sheet .group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
}

.lightbearer.sheet .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.lightbearer.sheet .column {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 4px;
}

.lightbearer.sheet .skill,
.lightbearer.sheet .attribute {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.lightbearer.sheet .caption {
    min-width: 7em;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 4px;
    font-weight: bold;
} 

.lightbearer.sheet .label {
    min-width: 7em;
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 7px;
    height: 24px;
    line-height: 24px;
    margin: 4px;
} 

.lightbearer.sheet .value {
    border-radius: 8px;
    margin: 2px;
    height: 24px;
    line-height: 24px;
    width: 3em;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
}

.lightbearer.sheet .divider {
    flex: 0 0 20px;
}

.lightbearer .red {
    color: #8c0000;
}

.chat-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.chat-template .item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.chat-template .caption {
    flex: 0 0 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.chat-template .item.yellow .label {
    background: rgba(255, 255, 0, 0.1);
}
.chat-template .item.red .label {
    background: rgba(255, 0, 0, 0.1);
}
.chat-template .item.blue .label {
    background: rgba(0, 64, 255, 0.1);
}
.chat-template .item.green .label {
    background: rgba(0, 200, 0, 0.1);
}
.chat-template .item.orange .label {
    background: rgba(255, 128, 0, 0.1);
}
.chat-template .item.purple .label {
    background: rgba(157, 0, 255, 0.1);
}
.chat-template .item.yellow .roll {
    background: rgba(255, 255, 0, 0.07);
}
.chat-template .item.red .roll {
    background: rgba(255, 0, 0, 0.07);
}
.chat-template .item.blue .roll {
    background: rgba(0, 64, 255, 0.07);
}
.chat-template .item.green .roll {
    background: rgba(0, 200, 0, 0.07);
}
.chat-template .item.orange .roll {
    background: rgba(255, 128, 0, 0.07);
}
.chat-template .item.purple .roll {
    background: rgba(157, 0, 255, 0.07);
}

.chat-template .actor {
    flex: 1 1 calc(50% - 4px);
    display: flex;
    flex-flow: column nowrap;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
}
.chat-template .actor .name {
    font-weight: bold;
    text-align: center;
}
.chat-template .label {
    margin: 3px;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
}
.chat-template .description {
    text-align: center;
    font-style: italic;
}
.chat-template .roll {
    margin: 3px;
    padding: 3px;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.1);
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}

.chat-template .item.crit .roll {
    color: green;
}

.chat-template .item.fail .roll {
    color: #960000;
}

.roll-results {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.roll-results .formula {
    margin: 4px;
    padding: 4px;
}

.roll-results .result {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.roll-results .term {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.roll-results .operator {
    margin: 4px;
    padding: 4px;
}

.roll-results .die {
    font-weight: bold;
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    background-image: url("/icons/svg/d6-grey.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 16px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    padding: 0px;
}

.roll-results .die.d4 {
    background-image: url("/icons/svg/d4-grey.svg");
}

.roll-results .die.d8 {
    background-image: url("/icons/svg/d8-grey.svg");
}

.roll-results .die.d10 {
    background-image: url("/icons/svg/d10-grey.svg");
}

.roll-results .die.d12 {
    background-image: url("/icons/svg/d12-grey.svg");
}

.roll-results .die.d20 {
    background-image: url("/icons/svg/d20-grey.svg");
}

.roll-results .die.success {
    color: #18520b;
    filter: sepia(0.5) hue-rotate(60deg);
}

.roll-results .die.failure {
    color: #aa0200;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.roll-results .die.modified {
    color: #0002aa;
    filter: sepia(0.5) hue-rotate(180deg);
}

.roll-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.roll-controls a {
    padding: 6px;
}
.roll-controls span {
    margin: 6px;
}

a.editor-edit {
    display: block;
}

a.header-button.configure-sheet {
    display: none;
}

.sheet-body textarea.paragraph {
    height: 10em;
    width: 100%;
    resize: none;
    font-family: "Signika", sans-serif;
}
